*{
    margin: 0px;
    padding: 0px;   
}

h1{
    text-align: center;
    margin-top: 70px;
    font-size: 53px;
}

.card{
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(37, 250, 37)); */
    height: 50vh;
    width: 190px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}


img{
    height: 200px;
    margin-left: -20px;
}

.imageBox{
height: 30vh;
width: 100%;
background-color: antiquewhite;
}

.info{
    padding-top: 100px;
    background-color: aqua;
}

/* .name{
padding-left: 40px;
}

.type, .move{
   padding-left: 30px;
   width: 300px;
} */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}

button{
    font-size: 24px;
}